.list_category {
    display: flex;
    margin: 10px 20px 0 20px;

    justify-content: space-between;
}

.list{
    width: 30%;
    padding: 10px;
    border-radius: 15px;
}

.icon{
    max-width: 10px;
    max-height: 10px;
    margin-right: 15px;
}